@use '../abstracts/mixins' as mixins;

.detail{
    font-size: 1.4rem;
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);

    @include mixins.responsive(bp-medium){
        padding: 3rem;
    }

    @include mixins.responsive(bp-small){
        flex-direction: column;
    }
}

// Description Section Styles
.description{
    background-color: var(--color-white);
    box-shadow: var(--shadow-light);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;

    &__list{
        margin: 3rem 0;
        padding: 3rem 0;
    }

    @include mixins.responsive(bp-medium){
        margin-right: 3rem;
        padding: 2rem;
    }

    @include mixins.responsive(bp-small){
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

.paragraph:not(:last-of-type){
    margin-bottom: 2rem;
}

.recommend{
    font-size: 1.3rem;
    color: var(--color-grey-dark-3);

    display: flex;
    align-items: center;

    &__friends{
        display: flex;
    }

    &__count{
        margin-right: auto;
    }

    &__photo{
        box-sizing: content-box;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 3px solid var(--color-white);

        &:not(:last-child){
            margin-right: -2rem;
        }
    }
}

//User-reviews Section Styles
.user-reviews{
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}