// Overwall Typograph
@use '../abstracts/mixins' as mixins;

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-grey-dark-2);
}

// Overview Typograph
.overview__heading{
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;

    @include mixins.responsive(bp-small){
        font-size: 1.8rem;
        padding: 1.25rem 2rem;
    }

    @include mixins.responsive(bp-tiny){
        font-size: 1.5rem;
        padding: 1.25rem 1rem;
    }
}

.paragraph{
    font-size: inherit;
}

// CTA Typograph

.cta__heading{
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
}